div, ul
{
	/*border: 1px solid black;*/
}

.job
{
	list-style-type:none;
}
.job ul
{
	padding: 0;
	/*height: 5em;*/
	display: inline-block;
}
.job ul li
{
	padding: 10px;
	list-style-type:none;
	display:list-item;
}

.jobtitleandstuff
{
	height: 25px;
}

.fromto
{
	font-weight:bold;
	float: left;
	height: 20px;
	width: 125px;
}

.title
{
	float: left;
	height: 20px;
}

.description_short
{
	float: left;
	height: 20px;
}

.description_long
{
	
}
